{% extends 'base.html.twig' %}


{% block title 'Moyenne dépenses'%}

{% block body %}
    <div class="block-header">
        <div class="row clearfix">
            <div class="col-md-6 col-sm-12">
                <h2>Moyenne dépenses mensuels</h2>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row clearfix">
            <div class="col-lg-3 col-md-6">
                <div class="card">
                    <div class="body">
                        <div class="d-flex align-items-center">
                            <div class="icon-in-bg bg-indigo text-white rounded-circle"><i class="fa fa-percentage"></i></div>
                            <div class="ml-4">
                                <span>moyenne</span>
                                <h4 class="mb-0 font-weight-medium">{{ moyenne }}</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


